
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
<header>
    <h1>Server</h1>
</header>
<body >
    

    <a href="/">
        <button >Home</button>
    </a>
    <a href="/Server/CoffeeMenu">
        <button >Coffee</button>
    </a>
    <a href="/Server/TeaMenu">
        <button >Tea</button>
    </a>
    <a href="/Server/BreakfastMenu">
        <button >Breakfast</button>
    </a>
    <a href="/Server/BakeryMenu">
        <button >Bakery</button>
    </a>
    <hr class="rounded">
    

<table>

<tr>

    <td>
        <h1><%= id%></h1>
    <table>
        
            <% for(var i in serverMenu) { %>
                <tr>
                  <td><%= serverMenu[i].item%></td>
                  <td><%= serverMenu[i].tall%></td>
                  <td><%= serverMenu[i].grande%></td>
                  <td><%= serverMenu[i].venti%></td>
                </tr>
             <% } %>
    </table>
</td>




<td>
    <h1>Order</h1>
<form>
    
<% for (var i = 0; i < serverMenu.length; i++) { %>
    
      <input class = "radioBtn" type = "radio" name= "drinkOrder"><%= serverMenu[i].item%></input>
      <% if ((i+1)%3 == 0) { %>
        <br>
        <%}  %>
 <% } %>
<br>

<h1>Size</h1>
<input type = "radio" name= "drinkSize">tall</input>
<input type = "radio" name= "drinkSize">grande</input>
<input type = "radio" name= "drinkSize">venti</input>

<br><br>
<input type="submit" value="Order">
</form>

</td>

</tr>
</table>

</body>
</html>